html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    /*font-family: 'Krona One', sans-serif; */
    background-color: #BF3FBF;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }